* {
    margin: 0px;
    padding: 0px; 
}

@font-face {
    font-family: "ofl-sorts-mill-goudy";
    src: url('../fonts/ofl-sorts-mill-goudy.italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "filsonsoft-bold";
    src: url('../fonts/Fontspring-DEMO-filsonsoft-bold.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: "filsonsoft-heavy";
    src: url('../fonts/Fontspring-DEMO-filsonsoft-heavy.otf') format('opentype');
    font-weight: 900;
}

:root {
    --black: #1a1a1a;
    --white: #ffffff;
    --violet: #8E41D8;
}

body {
    background: #1A1A1A;
    font-family: 'Filson Soft';
}

header {
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    border-bottom: 3px solid var(--white);
    padding-block: 20px;
    padding-inline: 40px;

}

header>.header_container>.navbar {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

header>.header_container>.navbar>.logo {
    display: none;
}


header>.header_container>.navbar>.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

header>.header_container>.navbar>.menu-toggle>.bar {
    width: 60px;
    height: 5px;
    background-color: var(--violet);
    margin: 20px 0;
    border-radius: 2px;
}

header>.header_container>.navbar>.menu {
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
}

header>.header_container>.navbar>.menu>li {
    margin-right: 20px;
    flex: 1 1 auto;
    text-align: center;
}

header>.header_container>.navbar>.menu>li>a {
    text-decoration: none;
    color: var(--white);
    font-weight: 900;
    font-size: 45px;
    padding-block: 5px;
    margin-inline: 10px;
    font-family: 'filsonsoft-heavy';
}

header>.header_container>.navbar>.menu>li:nth-child(4) {
    flex-grow: 2;
}

header>.header_container>.navbar>.menu>li:nth-child(4)>a>img {
    width: 240px;
}

header>.header_container>.navbar>.menu>li:nth-child(7) {
    display: none;
}

.bottom_bdr {
    border-bottom: 2px solid var(--blue);
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.dark_light_container {
    display: none;
}

/* Media query for responsive design */
@media (max-width: 991px) {
    header {
        padding-inline: 5px;
    }

    header>.header_container>.navbar {
        justify-content: space-between;
        padding-inline: 20px;
    }

    header>.header_container>.navbar>.logo {
        display: block;
    }

    header>.header_container>.navbar>.logo>a {
        text-decoration: none
    }

    header>.header_container>.navbar>.logo>a img {
        width: 90%;
    }

    header>.header_container>.navbar>.menu {
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 100%;
        left: -100%;
        transform: translateX(-100%);
        transition: all .8s ease-in-out;
        box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
        z-index: 2;
    }

    header>.header_container>.navbar>.menu>.menu-toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header>.header_container>.navbar>.menu>.menu-toggle>div {
        width: 70px;
        margin: 20px;
    }

    header>.header_container>.navbar>.menu>.menu-toggle>div .bar {
        width: 60px;
        height: 5px;
        background-color: var(--violet);
        margin: 20px 0;
        border-radius: 2px;
    }

    header>.header_container>.navbar>.menu>.menu-toggle>div .bar:nth-child(1) {
        transform: rotate(49deg) translate(20px, 13px);
    }

    header>.header_container>.navbar>.menu>.menu-toggle>div .bar:nth-child(2) {
        transform: rotate(133deg) translate(-2px, -1px);
    }

    header>.header_container>.navbar>.menu>li:nth-child(4) {
        display: none;
    }

    header>.header_container>.navbar>.menu>li>a {
        font-size: 74px;
    }

    header>.header_container>.navbar>.menu>li:nth-child(7) {
        display: inline-block;
    }

    header>.header_container>.navbar>.menu>li:nth-child(7)>a {
        width: 225px;
        display: inline-block;
        background-color: var(--violet);
        padding-block: 8px;
        border-radius: 15px;
        font-size: 30px;
    }

    header>.header_container>.navbar>.menu.active {
        left: 0px;
        transform: translateX(0%);
    }

    header>.header_container>.navbar>.menu li {
        margin: 10px 0;
        text-align: center;
    }

    header>.header_container>.navbar>.menu-toggle {
        display: block;
    }

    .dark_light_container {
        display: block;
    }
}

@media screen and (max-width: 382px) {
    header>.header_container>.navbar>.logo>a {
        font-size: 60px;
    }

    header>.header_container>.navbar>.menu-toggle>.bar {
        width: 50px;
        margin: 15px 0;
        border-radius: 2px;
    }
}

.main_merch_sec {
    max-width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main_merch_sec .container .merch_container {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

.main_merch_sec .container .merch_container .merch_img_sec {
    display: flex;
    width: 48%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main_merch_sec .container .merch_container .merch_img_sec img {
    width: 100%;
}

.main_merch_sec .container .merch_container .merch_intro_sec {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main_merch_sec .container .merch_container .merch_intro_sec img {
    width: 100%;
}

.main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    background: #8E41D8;
    border: 1px solid #8E41D8;
    border-radius: 16px;
    padding: 23px 0px;
    color: #F5F2EE;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 3.57px;
    font-family: 'filsonsoft-heavy';
}

.main_merch_sec .merch_poster_sec {
    width: 100%;
    padding: 50px 0px 80px;
}

.main_merch_sec .merch_poster_sec .container img {
    width: 100%;
    border-radius: 32px;
    border: 2px solid #FFFFFF;
}

.merch_product_sec {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.merch_product_sec .merch_pro_sec_1 {
    display: flex;
    max-width: 50%;
    flex-flow: column wrap;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
}

.merch_product_sec .merch_pro_sec_1 h3 {
    color: #FFFFFF;
    font-size: 5.8vw;
    line-height: 6vw;
    width: 100%;
    padding-left: 7vw;
    font-family: 'filsonsoft-heavy';
}

.merch_product_sec .merch_pro_sec_1 .merch_pro_img_1 {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: flex-start;
}

.merch_product_sec .merch_pro_sec_1 .merch_pro_img_1 img {
    width: 100%;
}

.merch_product_sec .merch_pro_sec_1 .merch_pro_img_2 {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
}

.merch_product_sec .merch_pro_sec_1 .merch_pro_img_2 img {
    width: 90%;
}

.merch_product_sec .merch_pro_sec_2 {
    display: flex;
    max-width: 50%;
    flex-flow: column wrap;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
}

.merch_product_sec .merch_pro_sec_2 h3 {
    color: #FFFFFF;
    font-size: 5.8vw;
    line-height: 6vw;
    padding-right: 7vw;
    font-family: 'filsonsoft-heavy';
}

.merch_product_sec .merch_pro_sec_2 .merch_pro_img_3 {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
}

.merch_product_sec .merch_pro_sec_2 .merch_pro_img_3 img {
    width: 90%;
}

.merch_product_sec .merch_pro_sec_2 .merch_pro_img_4 {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: flex-end;
}

.merch_product_sec .merch_pro_sec_2 .merch_pro_img_4 img {
    width: 100%;
}

.main_merch_sec .dream_txt_sec {
    width: 100%;
    padding: 50px 0px;
}

.main_merch_sec .dream_txt_sec .container h1 {
    font-family: 'ofl-sorts-mill-goudy';
    color: #8E41D8;
    font-size: 12.9vw;
    font-weight: 400;
}

.main_merch_sec .dream_txt_sec .container .line {
    border-bottom: 1px solid #8E41D8;
    width: 95%;
}

.main_merch_sec .childish_slider_sec {
    width: 100%;
    padding: 0px 0px 50px;
}

.main_merch_sec .childish_slider_sec .container h1 {
    color: #F5F2EE;
    font-size: 10vw;
    line-height: 9.5vw;
    letter-spacing: 8.32px;
    font-family: 'filsonsoft-heavy';
}

.main_merch_sec .product_scrollBar {
    max-width: 100%;
    padding: 50px 0px;
}

.product_scrollBar .container .scrollBar_line {
    border-bottom: 1px solid #8E41D8;
    margin: 20px;
}

.slider_wrapper {
    width: 100%;
    padding: 0px 0px 80px;
}

.slider_wrapper .container {
    width: 93%;
    margin: 0 5vw;
}

.slider_wrapper .slider_instagram {
    display: flex;
    max-width: 100%;
}

.slider_wrapper .slider_instagram .slider_content {
    background: #8f41d8a8;
    border-radius: 14px;
    padding: 20px;
    margin-right: 70px;
}

.slider_wrapper .slider_instagram .slider_content .slider_content_header {
    display: flex;
    max-width: 100%;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.slider_wrapper .slider_instagram .slider_content .slider_content_header img {
    width: 3.6vw;
    padding-left: 10px;
}

.slider_wrapper .slider_instagram .slider_content .slider_content_header h4 {
    color: #FFFFFF;
    font-size: 1.46vw;
    line-height: 1.8vw;
    font-family: 'filsonsoft-heavy';
    width: 17vw;
}

.slider_wrapper .slider_instagram .slider_content .slider_content_main {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.slider_wrapper .slider_instagram .slider_content .slider_content_main img {
    width: 100%;
}

.slider_wrapper .slider_instagram .slider_content .slider_read_more p {
    color: #fff;
    font-size: 1.3vw;
    line-height: 1.5vw;
    text-align: right;
}

.read_more_sec {
    max-width: 100%;
    padding: 100px 0px 130px;
}

.read_more_sec .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.read_more_sec .container .merch_btn {
    display: flex;
    width: 34.5vw;
    align-items: center;
    justify-content: center;
    background: #8E41D8;
    border: 1px solid #8E41D8;
    border-radius: 16px;
    padding: 25px 0px;
    color: #F5F2EE;
    font-size: 2.5vw;
    line-height: 3vw;
    letter-spacing: 3.57px;
    font-family: 'filsonsoft-heavy';
}

/* Product Slider CSS */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% * 7));
    }
}

.slider {
    background: transparent;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: 100%;
}

.slider .slide {
    height: 100%;
    width: 100%;
}

/* MAIN PAGE 4 CSS */
.cooking_wrapper {
    width: 100%;
    padding: 50px 0px 0px;
}

.cooking_wrapper .container .cooking_sec {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cooking_wrapper .container .cooking_sec .cooking_txt_sec {
    width: 48%;
}

.cooking_wrapper .container .cooking_sec .cooking_txt_sec img {
    width: 100%;
}

.cooking_wrapper .container .cooking_sec .cooking_txt_sec .cooking_btn_sec {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: 3vw;
    margin-top: 7vw;
    margin-left: 3vw;
}

.cooking_wrapper .container .cooking_sec .cooking_txt_sec .cooking_btn_sec img {
    width: 7.74vw;
}

.cooking_wrapper .container .cooking_sec .cooking_txt_sec .cooking_btn_sec button {
    display: flex;
    width: 29vw;
    align-items: center;
    justify-content: center;
    background: #8E41D8;
    border: 1px solid #8E41D8;
    border-radius: 16px;
    padding: 23px 0px;
    color: #F5F2EE;
    font-size: 2vw;
    line-height: 2.5vw;
    letter-spacing: 3.57px;
    font-family: 'filsonsoft-heavy';
}

.cooking_wrapper .container .cooking_sec .cooking_img_sec {
    width: 48%;
}

.cooking_wrapper .container .cooking_sec .cooking_img_sec img {
    width: 100%;
}

.divider_line {
    border-bottom: 1px solid #8E41D8;
    margin: 3vw 5vw;
}

.cooking_wrapper .container .cooking_posts {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 0px;
}

.cooking_wrapper .container .cooking_posts .cooking_post_content {
    background: #8f41d8a8;
    border-radius: 14px;
    padding: 30px;
    width: 44%;
    margin-bottom: 35px;
}

.cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header {
    display: flex;
    max-width: 100%;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header img {
    width: 5vw;
    padding-left: 10px;
}

.cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header h4 {
    color: #FFFFFF;
    font-size: 2.5vw;
    line-height: 3vw;
    font-family: 'filsonsoft-heavy';
    width: 28vw;
}

.cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_main {
    width: 100%;
}

.cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_main img {
    width: 100%;
}

.cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_main p {
    color: #fff;
    font-size: 2vw;
    line-height: 2.5vw;
    text-align: right;
    margin: 20px 20px 5px;
    text-transform: uppercase;
    font-family: 'filsonsoft-heavy';
}

/* Main Page 5 CSS */
.main_container {
    max-width: 100%;
    padding: 50px 0px;
}

.main_container .container .project_wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: 40px;
}

.main_container .container .project_wrapper .project_img_sec {
    width: 45%;
}

.main_container .container .project_wrapper .project_img_sec img {
    width: 100%;
}

.main_container .container .project_wrapper .project_txt_sec {
    display: flex;
    width: 48%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main_container .container .project_wrapper .project_txt_sec h2 {
    font-size: 3.75vw;
    line-height: 4.25vw;
    color: #fff;
    font-family: 'filsonsoft-heavy';
}

.main_container .container .project_wrapper .project_txt_sec h1 {
    font-size: 19.7vw;
    line-height: 23.5vw;
    color: #fff;
    font-family: 'filsonsoft-heavy';
}

.main_container .container .project_wrapper .project_txt_sec a {
    background: #8E41D8;
    border: 1px solid #8E41D8;
    border-radius: 16px;
    color: #F5F2EE;
    font-size: 2.32vw;
    line-height: 3.2vw;
    letter-spacing: 3.14px;
    padding: 20px 40px;
    font-family: 'filsonsoft-heavy';
}

.main_container .container .project_caption_wrapper {
    display: flex;
    max-width: 100%;
    padding: 50px 100px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_container .container .project_caption_wrapper .project_caption_img {
    width: 30%;
}

.main_container .container .project_caption_wrapper .project_caption_img img {
    width: 100%;
}

.main_container .container .project_caption_wrapper .project_caption_txt {
    width: 65%;
}

.main_container .container .project_caption_wrapper .project_caption_txt h1 {
    color: #fff;
    font-size: 7.3vw;
    line-height: 7vw;
    font-family: 'filsonsoft-heavy';
}

.main_container .container .project_caption_wrapper .project_discription {
    width: 100%;
    padding: 100px 0px;
}

.main_container .container .project_caption_wrapper .project_discription p {
    color: #fff;
    font-size: 2.65vw;
    line-height: 3.7vw;
    letter-spacing: 0.99px;
    font-family: 'filsonsoft-heavy';
    width: 96%;
}

.project_btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project_btn a {
    background: #8E41D8;
    color: #fff;
    border-radius: 16px;
    text-decoration: none;
    letter-spacing: 3.57px;
    font-size: 38px;
    line-height: 46px;
    padding: 20px;
    font-family: 'filsonsoft-heavy';
}

/* Main Page 2 Css */
.talent_news_wrapper {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

.talent_news_wrapper .talent_news_sec {
    background: #8e41d88c;
    border-radius: 14px;
    padding: 20px;
    width: 28%;
    margin-bottom: 60px;
}

.talent_news_wrapper .talent_news_sec .talent_news_header {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.talent_news_wrapper .talent_news_sec .talent_news_header .news_header_img {
    width: 70px;
    height: 70px;
}

.talent_news_wrapper .talent_news_sec .talent_news_header .news_header_img img {
    width: 100%;
}

.talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption {
    display: flex;
    width: 82%;
    flex-flow: column wrap;
}

.talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_icon img {
    width: 100%;
}

.talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details {
    display: flex;
    width: 88%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
    font-size: 25px;
    line-height: 29px;
    color: #fff;
    font-family: 'filsonsoft-heavy';
}

.talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details img {
    width: 30px;
    height: 30px;
}

.talent_news_wrapper .talent_news_sec .talent_news_main {
    max-width: 100%;
}

.talent_news_wrapper .talent_news_sec .talent_news_main img {
    width: 100%;
}

.talent_news_wrapper .project_btn a {
    width: 25%;
    text-align: center;
}

/* Media Query */
@media screen and (max-width: 1800px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 35px;
        line-height: 45px;
    }

    /* Main Page 2 Css */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 23px;
        line-height: 27px;
    }
}

@media screen and (max-width: 1700px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 32px;
        line-height: 42px;
    }

    /* Main Page 5 Css */
    .main_container .container .project_caption_wrapper .project_caption_txt h1 {
        font-size: 7.2vw;
        line-height: 7vw;
    }

    /* Main Page 2 CSS */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 21px;
        line-height: 25px;
    }
}

@media screen and (max-width: 1550px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 26px;
        line-height: 36px;
    }

    /* Main page 5 Css */
    .main_container .container .project_caption_wrapper .project_caption_txt h1 {
        font-size: 6.9vw;
        line-height: 6.7vw;
    }

    /* Main Page 2 CSS */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 17px;
        line-height: 21px;
    }
}

@media screen and (max-width: 1300px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 20px;
        line-height: 30px;
    }

    .slider_wrapper .slider_instagram .slider_content .slider_content_header h4 {
        font-size: 1.4vw;
        width: 15vw;
    }

    /* Main Page 4 Css */
    .cooking_wrapper .container .cooking_posts .cooking_post_content {
        width: 42%;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header h4 {
        font-size: 2.5vw;
        line-height: 3vw;
    }

    /* Main Page 5 Css */
    .main_container .container .project_caption_wrapper .project_caption_txt h1 {
        font-size: 6.6vw;
        line-height: 6.3vw;
    }

    /* Main Page 2 Css */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 13.8px;
        line-height: 17px;
    }

    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_icon {
        width: 25px;
        height: 25px;
    }

    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 1080px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 17px;
        line-height: 27px;
    }

    .slider_wrapper .slider_instagram .slider_content .slider_content_header h4 {
        font-size: 1vw;
        line-height: 1.4vw;
        width: 13.4vw;
    }

    .main_merch_sec .read_more_sec {
        padding: 100px 0px 60px;
    }

    .main_merch_sec .read_more_sec .container .merch_btn {
        width: 26vw;
    }

    /* Main Page Css */
    .main_container .container .project_caption_wrapper .project_caption_txt h1 {
        font-size: 6.4vw;
        line-height: 6vw;
    }

    /* Main Page 2 CSS */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: 990px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        width: 70%;
        font-size: 17px;
        line-height: 27px;
        padding: 15px 0px;
    }

    .main_merch_sec .read_more_sec .container .merch_btn {
        width: 28vw;
    }

    .slider_wrapper .slider_instagram .slider_content .slider_content_header h4 {
        font-size: 1.1vw;
        line-height: 2vw;
        width: 13.4vw;
    }

    /* Main Page 4 Css */
    .cooking_wrapper .container .cooking_posts .cooking_post_content {
        width: 39%;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header h4 {
        font-size: 2.4vw;
        line-height: 3vw;
        width: 27vw;
    }

    /* Main Page 5 CSS */
    .main_container .container .project_caption_wrapper {
        padding: 50px 30px;
    }

    .main_container .container .project_caption_wrapper .project_caption_txt h1 {
        font-size: 7.6vw;
        line-height: 7.4vw;
    }

    .main_container .container .project_caption_wrapper .project_discription {
        padding: 50px 0px;
    }

    .main_container .container .project_caption_wrapper .project_discription p {
        width: 100%;
        text-align: justify;
    }

    /* Main Page 2 Css */
    .talent_news_wrapper .talent_news_sec {
        width: 40%;
        margin-bottom: 30px;
    }

    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 767px) {
    .main_merch_sec .container .merch_container {
        flex-direction: column-reverse;
    }

    .main_merch_sec .container .merch_container .merch_intro_sec {
        width: 100%;
        margin-bottom: 40px;
    }

    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        width: 55%;
        font-size: 26px;
        line-height: 36px;
        padding: 15px 0px;
    }

    .main_merch_sec .container .merch_container .merch_img_sec {
        width: 100%;
    }

    .mobile_product_scroll_container {
        display: flex !important;
    }

    .main_merch_sec .merch_poster_sec {
        padding: 0px 0px 80px;
    }

    .main_merch_sec .childish_slider_sec {
        padding: 0px;
    }

    .slider_wrapper {
        padding: 50px 0px 80px;
    }

    .slider_wrapper .slider_instagram .slider_content .slider_content_header h4 {
        font-size: 2vw;
        line-height: 2.4vw;
        width: 21.4vw;
    }

    .main_merch_sec .read_more_sec .container .merch_btn {
        width: 30vw;
    }

    .main_merch_sec .read_more_sec {
        display: none;
    }

    .cooking_wrapper .container .divider_line {
        margin: 30px 0vw;
    }

    /* Main Page 4 Css */
    .cooking_wrapper .container .cooking_sec {
        display: none;
    }

    .mobile_cooking_sec {
        display: flex !important;
    }

    .mobile_cooking_sec .cooking_sec {
        display: flex !important;
    }

    .mobile_cooking_sec .cooking_sec .cooking_txt_sec {
        width: 100% !important;
    }

    .mobile_cooking_sec .cooking_sec .cooking_txt_sec .cooking_img_sec {
        width: 100%;
        padding: 50px 20px;
        box-sizing: border-box;
    }

    .mobile_cooking_sec .cooking_sec .cooking_btn_sec {
        margin-top: 0px !important;
    }

    .cooking_wrapper .container .cooking_sec .cooking_txt_sec .cooking_btn_sec img {
        width: 15vw;
    }

    .mobile_cooking_sec .cooking_sec .cooking_btn_sec {
        margin-top: 0px !important;
        margin-left: 6vw !important;
    }
    .cooking_wrapper .container .cooking_sec .cooking_txt_sec .cooking_btn_sec button {
        padding: 15px 0px;
        border-radius: 13px;
    }
    .mobile_cooking_sec .cooking_sec .cooking_btn_sec button {
        width: 65vw !important;
        font-size: 4vw !important;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content {
        width: 89%;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header img {
        width: 10vw;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header h4 {
        font-size: 6vw;
        line-height: 6.5vw;
        width: 66vw;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_main p {
        font-size: 4vw;
        line-height: 4.5vw;
    }

    .main_page_4 .read_more_sec {
        max-width: 100%;
        padding: 50px 0px;
    }

    .read_more_sec .container .merch_btn {
        width: 80vw;
        font-size: 5vw;
        line-height: 1.5vw;
    }

    /* Main Page 5 CSS */
    .main_container .container .project_wrapper{
        padding: 15px;
        box-sizing:border-box ;
    }
    .main_container .container .project_wrapper .project_img_sec {
        width: 100%;
        margin-bottom: 30px;
    }

    .main_container .container .project_wrapper .project_txt_sec {
        width: 100%;
    }

    .main_container .container .project_wrapper .project_txt_sec h2 {
        font-size: 6.75vw;
        line-height: 7.25vw;
    }

    .main_container .container .project_wrapper .project_txt_sec h1 {
        font-size: 36.7vw;
        line-height: 42.5vw;
    }

    .main_container .container .project_wrapper .project_txt_sec a {
        font-size: 4vw;
        line-height: 4vw;
    }

    .main_container .container .divider_line {
        display: none;
    }

    .main_container .container .project_caption_wrapper {
        display: none;
    }

    /* Main Page 2 CSS */
    .talent_news_wrapper .talent_news_sec {
        width: 100%;
    }

    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_img {
        width: 90px;
        height: 90px;
    }

    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_icon {
        width: 7vw;
        height: 7vw;
    }

    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 4.5vw;
        line-height: 5vw;
    }

    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details img {
        width: 5vw;
        height: 5vw;
    }
}

@media screen and (max-width: 650px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 21px;
        line-height: 31px;
    }

    .main_merch_sec .read_more_sec .container .merch_btn {
        width: 32vw;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header h4 {
        width: 64vw;
    }
}

@media screen and (max-width: 580px) {
    .slider_wrapper .slider_instagram .slider_content .slider_content_header img {
        width: 10vw;
        padding-left: 10px;
    }

    .slider_wrapper .slider_instagram .slider_content .slider_content_header h4 {
        font-size: 5vw;
        line-height: 5.4vw;
        width: 57vw;
    }

    .slider_wrapper .slider_instagram .slider_content .slider_read_more p {
        font-size: 4vw;
        line-height: 4.5vw;
    }

    /* Main Page 2 CSS */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 4.4vw;
        line-height: 5vw;
    }
}

@media screen and (max-width: 540px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 14px;
        line-height: 24px;
        width: 55%;
        padding: 10px 0px;
        margin-top: 30px;
    }

    .slider_wrapper .slider_instagram .slider_content .slider_content_header img {
        width: 12vw;
        padding-left: 10px;
    }

    .slider_wrapper .slider_instagram .slider_content .slider_content_header h4 {
        font-size: 3.5vw;
        line-height: 4.5vw;
        width: 42vw;
    }

    .slider_wrapper .slider_instagram .slider_content .slider_read_more p {
        font-size: 4vw;
        line-height: 4.5vw;
    }

    .slick-dots {
        width: 92%;
    }

    .slick-dots li.slick-active button:before {
        font-size: 27px;
        line-height: 27px;
    }

    .slick-dots li button:before {
        font-size: 20px;
        line-height: 20px;
        width: 20px;
        height: 20px;
    }

    .slick-dots li {
        margin: 0 5px;
    }

    /* Main Page 4 CSS */
    .cooking_wrapper .container .cooking_posts .cooking_post_content {
        width: 83%;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header h4 {
        font-size: 5.2vw;
        line-height: 5.6vw;
        width: 57vw;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header {
        gap: 10px;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header img {
        width: 15vw;
    }

    /* Main Page 2 Css */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 4.2vw;
        line-height: 4.6vw;
    }

    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_img {
        width: 17vw;
        height: 17vw;
    }
}

@media screen and (max-width: 400px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 11px;
        line-height: 21px;
    }

    .slider .slide img {
        width: 200px;
    }

    /* Main Page 4 CSS */
    .cooking_wrapper .container .cooking_posts .cooking_post_content {
        width: 82%;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header h4 {
        font-size: 5vw;
        width: 55vw;
    }

    /* Main page 5 Css */
    .main_container .container .project_wrapper .project_txt_sec a {
        font-size: 4.5vw;
        line-height: 5vw;
        padding: 14px;
    }

    /* Main Page 2 Css */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 4.2vw;
    }
}

@media screen and (max-width: 375px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 10px;
        line-height: 20px;
        padding: 6px 0px;
    }

    /* Main Page 4 Css */
    .cooking_wrapper .container .cooking_posts .cooking_post_content {
        width: 79%;
    }

    .cooking_wrapper .container .cooking_posts .cooking_post_content .cooking_post_header h4 {
        font-size: 4.67vw;
        width: 52vw;
    }

    /* Main Page 2 CSS */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 4vw;
    }
}

@media screen and (max-width: 320px) {
    .main_merch_sec .container .merch_container .merch_intro_sec .merch_btn {
        font-size: 8px;
        line-height: 18px;
        width: 58%;
    }

    /* Main Page 2 Css */
    .talent_news_wrapper .talent_news_sec .talent_news_header .news_header_caption .caption_part_1 .caption_details p {
        font-size: 3.8vw;
    }
}
footer {
    background-color: #404040;
}

footer>.footer_container {
    width: 100%;
    padding-block: 90px;
    margin: auto;
}

footer>.footer_container>.footer_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer>.footer_container>.footer_wrapper>.footer_column_left,
.footer_column_right {
    flex: 1 1 auto;
    max-width: 350px;
    margin: auto;
}

footer>.footer_container>.footer_wrapper>.footer_column_left>ul>li {
    list-style: none;
    text-align: center;
}

footer>.footer_container>.footer_wrapper>.footer_column_left>ul>li>i {
    color: #F5F2EE;
    font-size: 45px;
    padding-inline: 15px;
    padding-bottom: 30px;
}

footer>.footer_container>.footer_wrapper>.footer_column_left>ul>li a {
    color: #F5F2EE;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'filsonsoft-heavy';
    text-transform: uppercase;
    display: inline-block;
    margin-block: min(40px, 7vw);
}

footer>.footer_container>.footer_wrapper>.footer_column_right {
    font-family: 'filsonsoft-bold';
    color: #F5F2EE;
    letter-spacing: 3px;
    text-align: center;
    padding-right: min(20px, 5vw);
    max-width: 500px;
    margin: auto;
    flex-grow: 2;
}

footer>.footer_container>.footer_wrapper>.footer_column_right div {
    margin-block: min(20px, 7vw);
}

footer>.footer_container>.footer_wrapper>.footer_column_right .footer_heading h2 {
    font-size: 50px;
    font-family: 'filsonsoft-heavy';
}

footer>.footer_container>.footer_wrapper>.footer_column_right>.footer_description>p {
    font-size: min(25px, 5vw);
    font-family: 'filsonsoft-heavy';
}

footer>.footer_container>.footer_wrapper>.footer_column_right>.footer_input>input {
    border: 1px solid var(--violet);
    background-color: #404040;
    border-radius: 5px;
    font-size: 22px;
    font-family: 'filsonsoft-heavy';
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 40px;
}

footer>.footer_container>.footer_wrapper>.footer_column_right>.footer_logo_container>.footer_logo_text>h2 {
    font-size: 74px;
}

@media screen and (max-width: 991px) {
    footer>.footer_container>.footer_wrapper>.footer_column_left>ul>li {
        margin: auto;
    }

    footer>.footer_container>.footer_wrapper>.footer_column_right>.footer_heading,
    .footer_description,
    .footer_input,
    .footer_input {
        display: none;
    }

    footer>.footer_container>.footer_wrapper>.footer_column_left,
    .footer_column_right {
        width: 100%;
        max-width: 95%;
    }

    footer>.footer_container>.footer_wrapper>.footer_column_right {
        padding-right: 0px;
    }
}
